@{
    ViewData["Title"] = "Política de Privacidade";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb visually-hidden">
        <li class="breadcrumb-item active" aria-current="page">@ViewData["Title"]</li>
    </ol>
</nav>

<h1 class="display-4">@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
