@model IEnumerable<Ateliex.Data.Entity>

@{
    var info = @Model.GetInfo();

    ViewData["Title"] = $"Consultar - {info.SingleName}";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">@info.SingleName</li>
        <li class="breadcrumb-item active" aria-current="page">Consultar</li>
    </ol>
</nav>

<section>
    <h1>Consultar @info.SingleName</h1>

    <div class="container">
        <p>
            <a asp-action="Create">Criar Novo<i class="bi bi-plus-circle"></i></a>
        </p>

        <partial name="List/_@info.MetaName" model="Model" />
    </div>
</section>