@model Ateliex.Areas.Cadastro.Models.ModeloRecursoObservacao

@{
    var info = Model.GetInfo();

    var parent = "ModeloRecursoObservacao";

    var viewData = new ViewDataDictionary(ViewData) { { "Parent", parent } };
}

<section>
    <h7>Não há mais detalhes de observação de recurso</h7>
</section>
