@model Ateliex.Areas.Cadastro.Models.ModeloRecursoAnexo

@{
    var info = Model.GetInfo();
    
    var parent = "ModeloRecursoAnexo";

    var viewData = new ViewDataDictionary(ViewData) { { "Parent", parent } };
}

<section>
    <h7>Não há mais detalhes de anexo de recurso de modelo</h7>
</section>
