@model Ateliex.Areas.Cadastro.Models.ModeloRecursoTipo

<div asp-validation-summary="All" class="text-danger"></div>

@if (Model.IsEdit())
{
    <div class="row">
        <label asp-for="Id" class="col-sm-3 col-form-label"></label>
        <div class="col-sm-3">
            <input asp-for="Id" class="form-control" readonly="readonly" />
        </div>
    </div>
}
<div class="row">
    <label asp-for="Nome" class="col-sm-3 col-form-label"></label>
    <div class="col-sm-9">
        <input asp-for="Nome" class="form-control" />
        <span asp-validation-for="Nome" class="text-danger"></span>
    </div>
</div>
